//==================================================================================================
// ---- Styles ----
//==================================================================================================

@import "test";


/* ==|== Global  ================================================================================ */
$badass: #bada55;

body {
  margin: 0;
  background-color: $badass;
  width: 400px;
}

/* ==|== Settings =============================================================================== */


/* ==|== Wordpress Overrides ==================================================================== */


//==================================================================================================
// ---- Custom Styles ----
//==================================================================================================


/* ==|== Modules ================================================================================ */


/* ==|== Components ============================================================================= */


/* ==|== Templates ============================================================================== */
