//==================================================================================================
// ---- Paragraph ----
//==================================================================================================

p {

}


//==================================================================================================
// ---- Headings ----
//==================================================================================================

h1, h2, h3, h4, h5, h6 {

}

h1 { }
h2 { }
h3 { }
h4 { }
h5 { }
h6 { }


//==================================================================================================
// ---- Blockquote ----
//==================================================================================================

blockquote {
    @include reset-box;

    cite {

        a {

        }
    }
}


//==================================================================================================
// ---- List ----
//==================================================================================================

dl,
dt,
dd {
    @include reset-box;
}

dl {

    dd {

    }

    dt {

    }

}

ol {
    li {

    }
}

ul {
    li {

    }
}


//==================================================================================================
// ---- Horizontal Rules ----
//==================================================================================================

hr {
  margin-top: 3rem;
  margin-bottom: 3.5rem;
  border-width: 0;
  border-top: 1px solid $light-grey;
}

hr.dotted {
    border: 1px dotted $light-grey;
    border-style: none none dotted;
}

hr.dashed {
    border: 1px dashed $light-grey;
    border-style: none none dashed;
}


//==================================================================================================
// ---- Tabular Data ----
//==================================================================================================

table {

    thead {
        tr {
            th {

            }
        }
    }

    tbody {
        tr {
            td {

            }
        }
    }
}


//==================================================================================================
// ---- Code ----
//==================================================================================================

code {

}

samp {

}

kbd {

}

var {

}

pre {
    @include reset-box;
}

//==================================================================================================
// ---- Inline Elements ----
//==================================================================================================

a {

}

b, strong {

}

em {

}

i {

}

u, ins {

}

s, del {

}

sup {

}

sub {

}

small {

}

abbr {

}

q {

}

cite {

}

dfn {

}

mark {

}

time {

}


//==================================================================================================
// ---- Images & Figures ----
//==================================================================================================

img {
    border: 0;
    display: block;
    @include reset-box;
}

figure {
    text-align: center;

    img {
        margin: 0 auto;
    }

    figcaption {

    }
}


//==================================================================================================
// ---- Audio ----
//==================================================================================================

audio {

}


//==================================================================================================
// ---- Video ----
//==================================================================================================

video {

}


//==================================================================================================
// ---- Canvas ----
//==================================================================================================

canvas {
    display: block;
}


//==================================================================================================
// ---- Meter ----
//==================================================================================================

meter {
    width: 100%;
    display: block;
}


//==================================================================================================
// ---- Progress ----
//==================================================================================================

progress {
    width: 100%;
    display: block;
}


//==================================================================================================
// ---- SVG ----
//==================================================================================================

svg {
    display: block;
}


//==================================================================================================
// ---- iFrame ----
//==================================================================================================

iframe {
    display: block;
    border-width: 1px;
    border-style: inset;
    border-color: initial;
    border-image: initial;
}


//==================================================================================================
// ---- Form & Input Fields ----
//==================================================================================================

form {

    fieldset {
        @include reset-box;

        legend {

        }

        label {

        }

        input {

        }

        select {

            option {

            }
        }

        textarea {

        }
    }
}
